certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Django==2.2.13
django-tinymce4-lite==1.7.5
Flask==1.1.1
future==0.18.2
geographiclib==1.50
geopy==1.20.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
MarkupSafe==1.1.1
numpy==1.17.4
pycparser==2.19
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyTelegramBotAPI==3.6.6
python-telegram-bot==12.2.0
pytz==2019.3
requests==2.22.0
six==1.13.0
somepackage==1.2.3
telegram==0.0.1
tornado==6.0.3
urllib3==1.25.7
Werkzeug==0.16.0
